sudo: false
language: python
services:
- docker
before_install: docker build -t antlr_plsql .
script: docker run -v $(pwd):/usr/src/app antlr_plsql make build test
deploy:
  provider: pypi
  user: datacamp
  password:
    secure: Ft8Dou7GD5s72WosHbqVm0a1S5yKY9magNZmITJEFSdp265NX7kd4bF88magklA57n/9KeqkQmctu6Vb9zKP2wH252TzDrDjAgYA1O6ioBtEiHQl6L3EzElcU/pCxjPjKedK+O1X9UG2dA7ojYSGcRUSrYZbZYLcMnPliVNl5yKySQ+MwDggMRey8ijtYkWUuTLZO8rPbeSLT7qDOeX3so+ujv29cNJPYjuybbG3S80dOEY5bdkAsp6Uao13ElqlV/LvJWebd9MkC+bISvo3HDW/wf6AWjz6goaxNWlGqyvSpxAvCMwJgyeLGjG09CaUq82s4xfm1L6JEt+zBBbZtZ0eAq5J6tHaljPgyIOywQKOb/FAX9CjdngjvE7tuRHJFKf0mY0vZKe41KbGinNs5KD8tN0lFA1L7rlSr4Kzsg3kH1ZdQMHKV/c5GmVzMgle4W3qMfgIHjg/+pvx8unTRXmHFTLoZMtt5YFyl6BcZZ6Iyc42JT7tfL3Nz+kC/EG+tojDq8Ki/bdoDgKl1QXvwLiwcwDR3RdRUesGlka/EEtsqdp4f3XNs6BUCKlSuzrfsl5XGrgBVNFhK+/yXUvkWkX7Qz0/jkRCG1T0lBCWTSN0IkR1PhcbBqeg3OkH8JG5fsZQQJaIxwOgYoCESNRDKNNtgTo/lhCNgRbVzV6lmMs=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: datacamp/antlr-plsql
  skip_cleanup: true
  skip_upload_docs: true
